<div
    *ngIf="view"
    [class]="sStyl"
    [id]="sId">

    <div>
        {{sComp}}
    </div>

    <mat-list
        fxFlex="grow"
        furyScrollbar
        class="navigation">

        <div matSubheader>
            {{sText}}
        </div>

        <kw-ui-title
            *ngIf="title"
            (changed)="onChanged($event)"
            [dataIn]="data"
            [initsIn]="inits"
            [viewIn]="view">

        </kw-ui-title>

        <kw-ui-nav-link
            *ngFor="let item of links"
            (changed)="onChanged($event)"
            [dataIn]="data"
            [initsIn]="inits"
            [viewIn]="item">

        </kw-ui-nav-link>

    </mat-list>

</div>
