.default {
  width: 300px;
  padding: 0 20px 10px;
  text-decoration: none;
  border: none;
  text-align: center;
  cursor: pointer;

  &:hover ::ng-deep kw-ui-tabs-link-title .default {
    color: var(--bright-orange);
  }

  a {
    text-decoration: none;
    color: #c0c0c0;
  }


  &:hover,
  &.active {
    border-bottom: solid 3px var(--bright-orange);
    color: var(--bright-orange);
  }
}
