<div *ngIf="view"
     [class]="sStyl"
     [id]="sId">

    <div>{{sComp}}</div>

    {{sText}}

    <kw-ui-nav
        *ngIf="nav"
        (changed)="onChanged($event)"
        [dataIn]="data"
        [initsIn]="inits"
        [viewIn]="view">

    </kw-ui-nav>

    <kw-ui-side
        *ngIf="side"
        (changed)="onChanged($event)"
        [dataIn]="data"
        [initsIn]="inits"
        [viewIn]="view">

    </kw-ui-side>

    <kw-ui-opts
        *ngIf="opts"
        (changed)="onChanged($event)"
        [dataIn]="data"
        [initsIn]="inits"
        [viewIn]="view">

    </kw-ui-opts>

    <kw-ui-tabs
        *ngIf="tabs"
        (changed)="onChanged($event)"
        [dataIn]="data"
        [initsIn]="inits"
        [viewIn]="view">

    </kw-ui-tabs>

</div>
