.default {
    width: 300px;

    a {
        width: 68px;
        color: #505050;
        text-decoration: none;
        font-family: GothamRounded;
        font-size: 12.2px;
        font-weight: 300;
    }

    .highlight .link a {
        font-family: GothamRounded;
        font-size: 12.2px;
        font-weight: 300;
    }
}


