
:host {
    display: block;
}

.default {

    .title {
        font-weight: 400;
    }

    .crumb, .link {
        text-decoration: none;
        text-transform: uppercase;


        &:hover {
        }
    }


    .link {
        cursor: pointer;
    }

    .chevron {
        font-size: 18px;
        height: 18px;
        width: 18px;
    }

    .crumb.current, .crumb.current .link {
    }
}
